/*==================== CSS-RESET BEGIN ====================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==================== CSS-RESET END ====================*/

/* Global ==========================*/

:root {
  --bg: #b9c7d3;
  --card: #f0f4f7;
  --card-border: #95a7b4;
  --activities-list-item-bg: #ffffff;
  --activities-list-item-border: #b5c4cf;
  --activities-list-item-dates: #8da3b1;
  --edit-button: #95d7cf;
  --edit-button-border: #69c0b6;
  --remove-button: #e4a2ae;
  --remove-button-border: #b37a84;
  --fg: #29363b;
}

h2,p{
  color: var(--fg);
}

html,
body {
  height: 100%;
  font-family: "Poppins", "sans-serif";
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: var(--bg);
  overflow: auto;
}

/* Login and Registration ===========*/

.form-container {
  height: 70vh;
  width: 400px;
  background-color: var(--card);
  border-radius: 10px;

  display: flex;
  justify-content: center;
}

#registration-form,
#login-form {
  display: flex;
  flex-direction: column;

  width: 300px;
}

.title {
  display: block;
}

.title > h1 {
  font-size: 25px;
  padding: 10px;
}

.elements-container {
  display: block;
}

.element {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.element > input {
  margin-top: 5px;
}

/* Hidden H2 tags */
.alert-message {
  color: red;
}

/* Main Page =================== */

.user-pannel-container {
  display: relative;
  height: 100%;

  height: 70%;
  width: 600px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--card);
  border: 1px solid var(--card-border);
}

#user-pannel-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

#user-pannel-container-header > #user-pannel-greeting {
  display: block;
  font-weight: bold;
  font-size: 25px;
}

#user-pannel-container-header > #logout {
  display: block;

  width: 70px;
  height: 30px;

  border-radius: 10px;

  line-height: 30px;
  text-align: center;
  text-decoration: none;

  background-color: var(--logout-red);
}

#user-pannel-container-header > #logout:hover {
  cursor: pointer;
}

.activities-list-container{
  display: flex;
  flex-direction: column;
  height: 100%;

}

.activities-list{
  display: flex;
  flex-direction: column;
  padding: 0px 30px;

  height:100%;
}

.activities-list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--activities-list-item-bg);

  border: 1px solid var(--activities-list-item-border);
}

.description, .beginning, .ending{
  width: 150px;
}

.beginning, .ending{
  color: var(--activities-list-item-dates);
}

.edit-button, .remove-button {
  padding: 0;
  width: 20px;
  height: 20px;

  border-radius: 0;
}

.edit-button{
  border: 1px solid var(--edit-button-border);
  background-color: var(--edit-button);
}

.remove-button{
  border: 1px solid var(--remove-button-border);
  background-color: var(--remove-button);
}

.add-button{
  position: absolute;
  width: 30px;
  height: 30px;

  right: -10px;
  background-color: black;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
