/*==================== CSS-RESET BEGIN ====================*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*==================== CSS-RESET END ====================*/

/* Global ==========================*/

:root{
	--dark-blue: #030d27; 
	--green:#3a7a4d; 
	--gray: #252926; /*all pages background color*/
	--white: #cacaca;
	--logout-red: #e26b7f;

	--main-page-margin-value: auto;
}

html,body{
	height:100%;
	font-family: 'Poppins', 'sans-serif';
}

/* Login and Registration ===========*/
.page-container{
	height: 100vh;
    background-color: var(--gray);
	overflow: auto;

	display: flex;
	justify-content: center;
	align-items: center;

}

.form-container{
	height: 70vh;
	width: 400px;
	background-color: var(--white);
	border-radius: 10px;

	display: flex;
	justify-content: center;
}

#registration-form, #login-form{
	display: flex;
	flex-direction: column;

	width: 300px;
}

.title{
	display: block;
}

.title > h1{
	font-size: 25px;
	padding: 10px;
}

.elements-container{
	display:block;	
}

.element{
	display: flex;
	flex-direction: column;
	margin: 15px;
}

.element > input{
	margin-top: 5px;
}

/* Hidden H2 tags */
.alert-message{
	color: red;
}

/* Main Page =================== */

.user-pannel-container, .user-events-container {
	background-color: var(--white);
	border-radius: 10px;
}

.user-pannel-container{
	height: 70%;
	width: 300px;
	float: left;

	display: flex;
	flex-direction: column;

	margin-right: var(--main-page-margin-value);
	margin-left: var(--main-page-margin-value);
}

.user-pannel-container > .main-page-greeting{
	display: block;
	
	margin: 10px auto 10px auto;

	font-size: 25px;
}

.user-pannel-container > .action-button{
	display: inline;
	float: none;
	
	margin: 10px auto 10px auto;
	width: 55%;
	height: 50px;
	
	background-color: white;
	border-radius: 10px;

	line-height: 50px;
	text-align: center;
}

.user-pannel-container > #logout {
	background-color: var(--logout-red);
	color: white;

	margin-top: 80px ;
}

.user-pannel-container > .action-button:hover{
	cursor: pointer;
}

.user-events-container{
	height: 70%;
	width: 400px;
	float: right;
	margin-right: var(--main-page-margin-value);
	margin-left: var(--main-page-margin-value);
}

#events-table{
	
}